@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
    --background: 0% 0 0;
    --foreground: 100% 0 0;
  }

  body {
    @apply bg-background text-foreground h-screen;
  }
}
