@import 'tailwindcss';

@theme {
	--color-accent: oklch(var(--accent));
	--color-background: oklch(var(--background));
	--color-foreground: oklch(var(--foreground));
	--color-border: oklch(var(--border));
	--color-muted: oklch(var(--muted));
	--color-muted-foreground: oklch(var(--muted-foreground));
	--color-primary: oklch(var(--primary));
	--color-primary-foreground: oklch(var(--primary-foreground));
	--color-secondary: oklch(var(--secondary));
	--color-secondary-foreground: oklch(var(--secondary-foreground));
	--color-red: oklch(var(--red));
	--color-green: oklch(var(--green));
	--color-yellow: oklch(var(--yellow));
	--color-blue: oklch(var(--blue));
	--color-magenta: oklch(var(--magenta));
	--color-cyan: oklch(var(--cyan));
	--color-white: oklch(var(--white));
	--color-black: oklch(var(--black));
	--background-image-pepe: linear-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
	--font-sans: Poppins, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

@utility container {
	margin-inline: auto;
	padding-inline: 0.75rem;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility our-card {
	@apply rounded-md px-4 py-12  overflow-hidden relative text-white bg-cover;
}

@utility gradient-accent {
	@apply bg-linear-to-r from-primary to-secondary;
}

@utility border-gradient {
	border: 1px solid transparent;
	background:
		linear-gradient(oklch(var(--background)), oklch(var(--background))) no-repeat padding-box,
		linear-gradient(90deg, oklch(var(--primary)), oklch(var(--secondary))) border-box;

	&:hover {
		background:
			linear-gradient(90deg, oklch(var(--primary)), oklch(var(--secondary))) no-repeat padding-box,
			linear-gradient(90deg, oklch(var(--primary)), oklch(var(--secondary))) border-box;
		color: oklch(var(--white));
	}
}

@utility border-shadow {
	@apply border-2 rounded-md shadow-[0_3px_0_0_currentColor];
}

@utility text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	margin: 2px 0px 0px 0px;
	padding: 0;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-word;
}

@layer base {
	:root {
		/* color-scheme: dark; */
		--accent: 72.67% 0.2 43.41;
		--muted: 93.76% 0.0013 286.38;
		--primary: 64% 0.25 6.17;
		--secondary: 41.04% 0.228 292.56;
		--foreground: 10% 0 0;
		--background: 98% 0.013 301; /*#100122*/
		--black: 0.32% 0.013 229.4;
		--red: 64.56% 0.26 2.15;
		--green: 82.28% 0.201 125.2;
		--yellow: 82.07% 0.15 79.92;
		--blue: 70.33% 0.163 243.23;
		--magenta: 67.65% 0.198 297.96;
		--cyan: 87.22% 0.146 200.8;
		--white: 98.58% 0.006709567408869343 277.165672533334;

		--primary-foreground: 100% 0 0;
		--muted-foreground: 55.19% 0.0137 285.94;
		--secondary-foreground: 100% 0 0;

		--border: var(--foreground);
		--navbar-height: 50px;
		--search-height: 56px;
	}

	* {
		@apply border-border min-w-0;
		scrollbar-width: thin;
	}

	html {
		--s: 150px; /* control the size*/
		--c1: #fff;
		--c2: #fbfbfb;

		--_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%, var(--c1) 36% 45%,
			var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%, var(--c2) 86% 95%,
			#0000 96%;
		background:
			radial-gradient(50% 50% at 100% 0, var(--_g)),
			radial-gradient(50% 50% at 0 100%, var(--_g)),
			radial-gradient(50% 50%, var(--_g)),
			radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2) var(--c1);
		background-size: var(--s) var(--s);
	}
	body {
		@apply bg-none text-foreground  min-h-[100svh] text-[14px] leading-7;
	}

	/* Asegúrate de que tus inputs en móvil tengan al menos 16px.
  Puedes usar '1rem' si el font-size de tu <body> es 16px.
*/
	input[type='search'],
	input[type='text'],
	input[type='email'],
	textarea,
	select {
		font-size: 16px;
	}
}
