@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: dark;
		--accent: 72.67% 0.2 43.41;
		--muted: 60% 0 0;
		--primary: 64% 0.25 6.17;
		--secondary: 41.04% 0.228 292.56;
		--foreground: 10% 0 0;
		--background: 98% 0.013 301; /*#100122*/
		--black: 0.32% 0.013 229.4;
		--red: 64.56% 0.26 2.15;
		--green: 82.28% 0.201 125.2;
		--yellow: 82.07% 0.15 79.92;
		--blue: 70.33% 0.163 243.23;
		--magenta: 67.65% 0.198 297.96;
		--cyan: 87.22% 0.146 200.8;
		--white: 98.58% 0.006709567408869343 277.165672533334;

		--primary-foreground: 100% 0 0;
		--secondary-foreground: 100% 0 0;

		--border: var(--foreground);
		--navbar-height: 50px;
		--search-height: 56px;
	}

	* {
		@apply border-border min-w-[0];
		scrollbar-width: thin;
	}
	body {
		@apply bg-background text-foreground  min-h-[100svh] text-[14px] leading-7;
	}
}

@layer components {
	.gradient-accent {
		@apply bg-gradient-to-r from-primary to-secondary;
	}

	.border-gradient {
		border: 1px solid transparent;
		background:
			linear-gradient(oklch(var(--background)), oklch(var(--background))) no-repeat padding-box,
			linear-gradient(90deg, oklch(var(--primary)), oklch(var(--secondary))) border-box;

		&:hover {
			background:
				linear-gradient(90deg, oklch(var(--primary)), oklch(var(--secondary))) no-repeat padding-box,
				linear-gradient(90deg, oklch(var(--primary)), oklch(var(--secondary))) border-box;
			color: oklch(var(--white));
		}
	}

	.border-shadow {
		@apply border-2 shadow-[0_3px_0_0_currentColor];
	}

	.text-truncate {
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word;
		margin: 2px 0px 0px 0px;
		padding: 0;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		word-break: break-word;
	}
}
