dialog {
	background: transparent;
	border: 0;
	height: 100vh;
	height: 100dvh;
	margin: 0;
	max-height: none;
	max-width: none;
	overflow: hidden;
	padding: 0;
	position: fixed;
	width: 100vw;
	width: 100dvw;
}
dialog::backdrop {
	--tw-bg-opacity: 1;
	background-color: rgb(13 15 20 / var(--tw-bg-opacity));
	opacity: 0;
}
.astro-image-gallery-opened dialog::backdrop {
	opacity: 1;
}
figure {
	cursor: zoom-out;
	height: 100%;
	position: relative;
	width: 100%;
}
figure figcaption {
	border-top-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(52 56 65 / var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: rgb(35 38 45 / var(--tw-bg-opacity));
	padding: 1rem;
	--tw-text-opacity: 1;
	color: rgb(191 193 201 / var(--tw-text-opacity));
	cursor: initial;
	inset: auto 0 0;
	opacity: 0;
	position: absolute;
}
.astro-image-gallery-opened figure figcaption {
	opacity: 1;
}
.astro-image-gallery-opened button {
	opacity: 1;
}

:root {
	--astro-image-gallery-animation-duration: 0.15s;
}
body:has(dialog.astro-image-gallery-dialog[open]) {
	overflow: hidden;
}
astro-image-gallery img {
	cursor: zoom-in;
}
astro-image-gallery button {
	position: relative;
	cursor: zoom-in;
}
.astro-image-gallery-control:not([hidden]) {
	--control-inset: 20px;
	background-color: #17191e99;
	--tw-text-opacity: 1;
	color: rgb(191 193 201 / var(--tw-text-opacity));
	border: 1px solid;
	border-radius: 50%;
	display: grid;
	place-items: center;
	width: 44px;
	height: 44px;
}
.astro-image-gallery-control:hover {
	background-color: #34384199;
}
.astro-image-gallery-image {
	aspect-ratio: unset;
	cursor: zoom-out;
	-o-object-fit: contain;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

/* Other */

astro-image-gallery {
	--min: 7rem;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

astro-image-gallery img:not(.astro-image-gallery-image) {
	aspect-ratio: 1;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: auto;
}

/* Litle Youtube */
lite-youtube > iframe {
	all: unset !important;
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	inset: 0 !important;
	border: 0 !important;
}
</style > <style > lite-youtube {
	background-color: #000;
	position: relative;
	display: block;
	contain: content;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
	max-width: 720px;
}
lite-youtube:before {
	content: attr(data-title);
	display: block;
	position: absolute;
	top: 0;
	background-image: linear-gradient(
		180deg,
		#000000ab,
		#0000008a 14%,
		#00000026 54%,
		#0000000d 72%,
		#0000 94%
	);
	height: 99px;
	width: 100%;
	font-family:
		YouTube Noto,
		Roboto,
		Arial,
		Helvetica,
		sans-serif;
	color: #eee;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	font-size: 18px;
	padding: 25px 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
}
lite-youtube:hover:before {
	color: #fff;
}
lite-youtube:after {
	content: '';
	display: block;
	padding-bottom: 56.25%;
}
lite-youtube > iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}
lite-youtube > .lty-playbtn {
	display: block;
	width: 100%;
	height: 100%;
	background: no-repeat center/68px 48px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
	position: absolute;
	cursor: pointer;
	z-index: 1;
	filter: grayscale(100%);
	transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
	border: 0;
}
lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
	filter: none;
}
lite-youtube.lyt-activated {
	cursor: unset;
}
lite-youtube.lyt-activated:before,
lite-youtube.lyt-activated > .lty-playbtn {
	opacity: 0;
	pointer-events: none;
}
.lyt-visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
