---
export const prerender = false
import Layout from '@/layouts/Layout.astro'
import Products from '@/components/Products.astro'
import ProductSkeleton from '@/components/ProductsSkeleton.astro'
---

<Layout showSearchbar title="Nuestros Productos">
	<h1 class="sr-only text-xl md:text-2xl font-extrabold mb-4">Nuestra Lista de Productos</h1>
	<Products server:defer>
		<ProductSkeleton slot="fallback" />
	</Products>
</Layout>
