---
import Layout from '@/layouts/Layout.astro'
import ContactPresentation from '@/components/ContactPresentation.astro'
import ContactInfo from '@/components/ContactInfo.astro'
---

<Layout title='Contacto'>
  <main class='container mx-auto px-4'>
    <section class='mb-20'>
      <ContactPresentation />
      <ContactInfo />
    </section>
  </main>
</Layout>
