---
import Layout from '@/layouts/Layout.astro'
import ContactPresentation from '@/components/ContactPresentation.astro'
import ContactInfo from '@/components/ContactInfo.astro'
---

<Layout title="Contacto">
  <main class="container">
    <section class="mb-20 w-full">
      <ContactPresentation />
      <ContactInfo />
    </section>
  </main>
</Layout>
