---
import Layout from '@/layouts/Layout.astro'
import CustomersOpinion from '@/components/CustomersOpinion.astro'
import Subscribe from '@/components/Subscribe.astro'
import WhyChooseUs from '@/components/WhyChooseUs.astro'
import OursSection from '@/components/OursSection.astro'
import HeroSection from '@/components/HeroSection.astro'
import CategoryListSection from '@/components/CategoryListSection.astro'
---

<Layout>
  <HeroSection />

  <div class="flex flex-col gap-16">
    <div class="lg:hidden">
      <CategoryListSection />
    </div>
    <WhyChooseUs />
    <CustomersOpinion />
    <Subscribe />
  </div>
</Layout>
