---
import Layout from '../layouts/Layout.astro'
import Button from '@/components/ui/Button.astro'
import Hero from '@/components/Hero.astro'
import { Icon } from 'astro-icon/components'
---

<Layout>
  <main class="mx-auto">
    <Hero />
    <section class="container mx-auto px-4 min-h-screen"></section>
  </main>
</Layout>
