---
import Layout from '../layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import Button from '@/components/Button.astro'
import Dialog from '@/components/Dialog.astro'
---

<Layout>
  ---
  <main>
    <Dialog> Contenido de dialog </Dialog>
    <Button />
    <h1>Start</h1>
  </main>
</Layout>
