---
import Layout from '../layouts/Layout.astro'
import Button from '@/components/ui/Button.astro'
import Dialog from '@/components/Dialog.astro'
---

<Layout>
  ---
  <main>
    <h1 class="text-5xl font-extrabold text-red">Bienvenidos a NeyStore</h1>
    <ul>
      <li class="text-green">Green</li>
      <li class="text-red">Red</li>
      <li class="text-blue">Blue</li>
      <li class="text-magenta">Purple</li>
      <li class="text-yellow">Yellow</li>
      <li class="text-cyan">Cyan</li>
      <li class="text-white">white</li>
      <li class="text-black">Black</li>
    </ul>
  </main>
  <div>
    <Button variant="secondary">primer boton</Button>
  </div>
</Layout>
