---
//first comentary
import CustomersOpinion from '@/components/CustomersOpinion.astro'
import Subscribe from '@/components/Subscribe.astro'
import WhyChooseUs from '@/components/WhyChooseUs.astro'
import HeroSection from '@/components/HeroSection.astro'
import CategoryListSection from '@/components/CategoryListSection.astro'
import HeroLayout from '@/layouts/HeroLayout.astro'
import CategoriesHome from '@/components/home/CategoriesHome.astro'
// This is a comentary
---

<HeroLayout>
	<HeroSection />
	<div class="lg:hidden">
		<CategoryListSection />
	</div>
	<CategoriesHome />
	<WhyChooseUs />
	<CustomersOpinion />
	<Subscribe />
</HeroLayout>
<script>
	const $ = (selector: string) => document.querySelector(selector)
	const main = $('main')
	console.log(main)
</script>
