---
import Layout from '@/layouts/Layout.astro'
import CustomersOpinion from '@/components/CustomersOpinion.astro'
import Subscribe from '@/components/Subscribe.astro'
import WhyChooseUs from '@/components/WhyChooseUs.astro'
import HeroSection from '@/components/HeroSection.astro'
import CategoryListSection from '@/components/CategoryListSection.astro'
import HeroLayout from '@/layouts/HeroLayout.astro'
---

<HeroLayout>
  <HeroSection />
  <div class="lg:hidden">
    <CategoryListSection />
  </div>
  <WhyChooseUs />
  <CustomersOpinion />
  <Subscribe />
</HeroLayout>
