---
import Layout from '../layouts/Layout.astro'
import Button from '@/components/ui/Button.astro'
import { Icon } from 'astro-icon/components'
---

<Layout>
  <main>
    <h2>#Colores</h2>
    <ul class="flex gap-6">
      <li class="text-green">Green</li>
      <li class="text-red">Red</li>
      <li class="text-blue">Blue</li>
      <li class="text-magenta">Purple</li>
      <li class="text-yellow">Yellow</li>
      <li class="text-cyan">Cyan</li>
      <li class="text-white">white</li>
      <li class="text-black">Black</li>
    </ul>
  </main>
  <div>
    <h2>#Botones</h2>
    <div class="flex gap-4">
      <Button size="sm">Default</Button>
      <Button variant="outline">Outline</Button>
      <Button disabled variant="outline">disabled</Button>
      <Button variant="outline">
        <Icon class="mr-2" size={20} name="tabler:x" />icon
      </Button>
    </div>
  </div>
</Layout>
