---
import Layout from '@/layouts/Layout.astro'
import CustomersOpinion from '@/components/CustomersOpinion.astro'
import Subscribe from '@/components/Subscribe.astro'
import Categories from '@/components/Categories.astro'
import WhyChooseUs from '@/components/WhyChooseUs.astro'
import OursSection from '@/components/OursSection.astro'
---

<Layout>
  <main class='mx-auto flex flex-col gap-12'>
    <OursSection />
    <Categories />
    <WhyChooseUs />
    <CustomersOpinion />
    <Subscribe />
  </main>
</Layout>
