---
import Layout from '@/layouts/Layout.astro'
import Container from '@/components/Container.astro'
---

<Layout title="Politicas de Devolución">
	<Container>
		<h1 class="text-center">Políticas de Devolución</h1>
		<p class="text-center">
			Términos y condiciones bajo los cuales usted puede devolver productos comprados en nuestra
			página web www.neystore.pe
		</p>

		<h2>Productos elegibles para devolución</h2>
		<p>
			En general, puede devolver cualquier producto sin usar y en su embalaje original dentro de los
			7 días posteriores a la fecha de compra ("Período de devolución").
		</p>
		<h3>No se aceptan devoluciones de:</h3>
		<ul>
			<li>Productos usados o dañados</li>
			<li>Productos que no estén en su embalaje original</li>
			<li>Productos que sean personalizados o hechos a medida</li>
		</ul>
		<h3>Excepciones al Período de devolución</h3>
		<p>
			Algunos productos pueden tener un período de devolución diferente al Período de devolución
			general. Consulte la página del producto o póngase en contacto con nuestro servicio de
			atención al cliente para obtener más información sobre el período de devolución específico de
			un producto.
		</p>
		<h3>Cómo iniciar una devolución</h3>
		<p>Para iniciar una devolución, siga estos pasos:</p>
		<ul>
			<li>
				Póngase en contacto con nuestro servicio de atención al cliente dentro del Período de
				devolución.
			</li>
			<li>Indique el número de pedido y el producto que desea devolver.</li>
			<li>
				Nuestro servicio de atención al cliente le proporcionará instrucciones sobre cómo devolver
				el producto.
			</li>
		</ul>
		<h3>Costos de devolución</h3>
		<p>
			Usted será responsable de los costos de envío de devolución del producto. Sin embargo, <strong>
				si el producto está dañado o defectuoso de orígen
			</strong>, asumiremos los costos de envío de devolución.
		</p>

		<h3>Reembolsos</h3>
		<p>
			Una vez que recibamos y inspeccionemos el producto devuelto, le emitiremos un reembolso
			completo del precio de compra del producto. El reembolso se emitirá al método de pago original
			dentro de los [7] días posteriores a la recepción del producto devuelto.
		</p>
		<h3>Cambios</h3>

		<p>
			Nos reservamos el derecho de modificar esta Política en cualquier momento. Publicaremos las
			modificaciones en nuestra página web y le notificaremos por correo electrónico si la
			modificación afecta a un pedido que haya realizado.
		</p>
		<h3>Preguntas</h3>
		<p>
			Si tiene alguna pregunta sobre esta Política, póngase en contacto con nuestro servicio de
			atención al cliente.
		</p>

		<h3>Cumplimiento de las leyes</h3>
		<p>
			En el Perú, la ley que regula las devoluciones para los consumidores es la Ley N° 29571, Ley
			de Protección y Defensa del Consumidor.
		</p>

		<h4>Plazo para ejercer el derecho de retracto:</h4>

		<p>
			El consumidor tiene un plazo máximo de 7 días hábiles para ejercer su derecho de retracto,
			contado a partir de la entrega del bien o de la celebración del contrato en caso de la
			prestación de servicios.
		</p>

		<h4>Requisitos para ejercer el derecho de retracto:</h4>
		<ul>
			<li>El producto debe estar en perfectas condiciones, sin uso y con su empaque original.</li>
			<li>Debe presentar la boleta o factura de compra.</li>
		</ul>

		<h4>Excepciones al derecho de retracto:</h4>

		<p>No se aplica el derecho de retracto a:</p>
		<ul>
			<li>Productos personalizados o hechos a medida.</li>
			<li>Productos perecederos o que por su naturaleza puedan deteriorarse rápidamente.</li>
			<li>Servicios que ya hayan sido prestados en su totalidad.</li>
		</ul>

		<h4>Devolución del dinero:</h4>

		<p>
			El proveedor debe devolver el dinero pagado al consumidor en un plazo máximo de 30 días
			calendario desde la presentación de la solicitud de retracto.
		</p>
		<p>
			La devolución del dinero se debe realizar en el mismo medio de pago que se utilizó para la
			compra.
		</p>

		<h4>Normas adicionales:</h4>

		<p>
			El proveedor no puede cobrar ningún tipo de penalidad por el ejercicio del derecho de
			retracto.
		</p>
		<p>
			El consumidor no está obligado a dar ninguna explicación sobre su decisión de ejercer el
			derecho de retracto.
		</p>
	</Container>
</Layout>
<style>
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: var(--font-weight-bold);
	}

	h1 {
		font-size: var(--text-4xl);
		line-height: var(--text-4xl--line-height);
	}

	h2 {
		font-size: var(--text-2xl);
		line-height: var(--text-2xl--line-height);
	}

	h3 {
		font-size: var(--text-xl);
		line-height: var(--text-xl--line-height);
	}

	h4 {
		font-size: var(--text-lg);
		line-height: var(--text-lg--line-height);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 + :not(h1, h2, h3, h4, h5, h6) {
		margin-top: 1.5rem;
	}

	p {
		margin-top: 1rem;
	}

	ul {
		list-style: disc;
		padding-inline-start: 15px;
	}
</style>
