---
import Container from '@/components/Container.astro'

const sections = [
	{
		imgUrl: '/assets/images/montesorri.webp',
		title: 'Montesorri',
		href: '#',
	},
	{
		imgUrl: '/assets/images/psicomotricidad.webp',
		title: 'Psicomotricidad',
		href: '#',
	},
	{
		imgUrl: '/assets/images/matematicas.jpg',
		title: 'Matematicas',
		href: '#',
	},
]
---

<section>
	<Container>
		<div>
			<p class="text-md md:text-lg text-center uppercase">Juguetes por categorias según función</p>
			<h2 class="text-3xl md:text-4xl font-extrabold text-center mb-8">
				Juguetes Desarrollo Cognitivo
			</h2>
		</div>
		<div
			class="grid grid-cols-1 sm:grid-cols-2 md:grid-rows-2 gap-4 md:grid-cols-4 [&_img]:w-full [&_img]:h-full [&_img]:object-cover">
			<div
				class="sm:col-span-2 md:row-span-2 rounded-lg overflow-hidden relative hover:scale-[1.01] transition-transform">
				<a href="/productos">
					<div class="absolute bottom-3 left-3 bg-yellow p-2 rounded-md z-10">
						<h3 class="text-xl text-white font-bold">Lenguaje</h3>
					</div>
					<img src="/assets/images/lenguaje.jpg" />
				</a>
			</div>
			<div
				class="rounded-lg overflow-hidden relative shadow-md hover:scale-[1.01] transition-transform">
				<a href="/productos">
					<div class="absolute bottom-3 left-3 px-2 py-1 bg-indigo-600 rounded-md z-10">
						<h3 class="text-white text-xl font-bold">Montessori</h3>
					</div>
					<img src="/assets/images/montessori.webp" />
				</a>
			</div>
			<div
				class="rounded-lg overflow-hidden relative shadow-md hover:scale-[1.01] transition-transform">
				<a href="/productos">
					<div class="absolute bottom-3 left-3 px-2 py-1 bg-red rounded-md z-10">
						<h3 class="text-white text-xl font-bold">Sensoriales</h3>
					</div>
					<img src="/assets/images/sensorial.jpg" />
				</a>
			</div>

			<div
				class="rounded-lg relative overflow-hidden shadow-md hover:scale-[1.01] transition-transform">
				<a href="/productos">
					<div class="absolute bottom-3 left-3 bg-lime-500 rounded-md px-2 py-1 z-10">
						<h3 class="text-white text-xl font-bold">Psicomotricidad</h3>
					</div>
					<img src="/assets/images/psicomotricidad.webp" />
				</a>
			</div>

			<div
				class="rounded-lg overflow-hidden relative shadow-md hover:scale-[1.01] transition-transform">
				<a href="/productos">
					<div class="absolute bottom-3 left-3 bg-sky-300 rounded-md px-2 py-1 z-10">
						<h3 class="text-white text-xl font-bold">Matematicas</h3>
					</div>
					<img src="/assets/images/matematicas.jpg" />
				</a>
			</div>
		</div>
	</Container>
</section>
