---
import ProductRanking from '@/components/ProductRanking.astro'
import Container from '@/components/Container.astro'
import { Icon } from 'astro-icon/components'
const reviews = [
	{
		avatar: '/assets/images/milagros-avatar.png',
		name: 'Milagros Ramirez',
		date: 'Dec 01, 2023',
		rating: 5,
		comment:
			'Siempre he tenido grata experiencia, mi hijo ha aprendido muchísimo con sus materiales didácticos. Y seguiremos siendo sus fieles clientes.',
	},
	{
		avatar: '/assets/images/daniel-avatar.png',
		name: 'Daniel Salvatierra',
		date: 'Aug 18, 2023',
		rating: 4,
		comment:
			'Cuando me comuniqué para solicitar orientación en la selección de los juguetes, para mi bebé de dos años, recibí una orientación muy profesional. Estoy muy agradecida.',
	},

	{
		avatar: '/assets/images/maria-avatar.png',
		name: 'Maria Navarrete C.',
		date: 'Mar 23, 2023',
		rating: 3,
		comment:
			'Cada vez que necesito un juguetito o algo para educar a mi Hija compro a través de la página web, muy fácil y rápido.',
	},
]
---

<section>
	<Container>
		<div class="mb-8">
			<p class="text-md uppercase text-center">Opinión de nuestros clientes</p>
			<h2 class="text-3xl md:text-4xl font-extrabold mb-4 text-center">¿Que dicen de Nosotros?</h2>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 items-center justify-center">
			<div class="flex flex-col justify-center h-full">
				<div class="overflow-x-scroll" style="scrollbar-width: none">
					<ul id="testimonial-list" class="flex flex-row transition-transform snap-mandatory">
						{
							reviews.map((review) => (
								<li class="p-6 min-w-full">
									<div class="flex flex-col items-center">
										{/*Comment */}
										<div class="flex flex-col items-center">
											<Icon name="tabler:quote" class="text-neutral-400" size={50} />
											<p class="mb-4 text-center italic">{review.comment}</p>
										</div>

										{/*Avatar */}
										<div class="rounded-full size-16 overflow-hidden">
											<img src={review.avatar} />
										</div>

										<div class="">
											<small>{review.name}</small>
										</div>
									</div>
								</li>
							))
						}
					</ul>
				</div>
				<!-- Buttons -->
				<div class="flex justify-center gap-4">
					{
						reviews.map((review, index) => (
							<button
								data-state={index == 0 ? 'active' : 'inactive'}
								class="testimonial-button size-3  border-2 rounded-full hover:bg-foreground data-[state=active]:bg-foreground"
							/>
						))
					}
				</div>
			</div>
			<div class="hidden md:block h-full rounded-tr-lg rounded-br-lg overflow-hidden">
				<img class="w-full h-full object-cover" src="/assets/images/toys-child.jpg" />
			</div>
		</div>
	</Container>
</section>
<script>
	// Obtener los elementos del DOM
	const testimonialList = document.getElementById('testimonial-list') as HTMLUListElement
	const buttons = document.querySelectorAll('.testimonial-button') as NodeListOf<HTMLButtonElement>

	// Variables de estado
	let currentIndex = 0

	// Función para actualizar la posición del slider
	function updateSlider(index: number) {
		const testimonialWidth = testimonialList.firstElementChild.offsetWidth
		testimonialList.style.transform = `translateX(-${testimonialWidth * index}px)`
	}

	const setInactiveStateToAllButtons = () => {
		buttons.forEach((btn) => btn.setAttribute('data-state', 'inactive'))
	}

	// Event Listeners para los botones
	buttons.forEach((button, index) => {
		button.addEventListener('click', () => {
			setInactiveStateToAllButtons()
			currentIndex = index
			button.setAttribute('data-state', 'active')
			updateSlider(currentIndex)
		})
	})

	// Iniciar el slider en la primera posición
	updateSlider(currentIndex)
</script>
