<section>
	<div class="slider overflow-x-scroll h-[calc(100svh-4rem)]">
		<div class="flex h-full">
			<div class="slide bg-[url(/assets/images/slide5.jpg)]"></div>

			<div class="slide bg-[url(/assets/images/slide3.jpg)]"></div>
		</div>
	</div>
</section>
<style>
	.slide {
		@apply bg-left-bottom bg-cover h-full w-full min-w-full;
	}
</style>
