---
import Button from '@/components/ui/Button.astro'
import Container from '@/components/Container.astro'
---

<section>
	<Container>
		<div class="py-12 relative z-10">
			<div
				class="w-full container px-4 mx-auto py-12 max-xl:text-center flex flex-col items-center">
				<h2
					class="text-3xl text-center mb-6 sm:text-3xl md:text-4xl text-white font-semibold first-letter:uppercase">
					Suscribete para ofertas
				</h2>
				<div class="max-w-3xl space-y-4 max-xl:text-center">
					<form onclick="event.preventDefault()">
						<div class="flex items-center gap-x-2 max-md:flex-col max-md:gap-y-4">
							<input
								type="text"
								placeholder="Enter your email"
								name="email"
								autocomplete="email"
								class="flex h-10 w-full rounded-sm bg-white px-3 py-5 pl-4 text-sm font-medium text-neutral-950 transition-colors placeholder:text-neutral-500 focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-600 disabled:cursor-not-allowed disabled:opacity-50 border-shadow"
							/>
							<Button class="px-4">Subscribe</Button>
						</div>
					</form>
					<p class="text-md font-medium text-white text-center">
						Al suscribirte, aceptas nuestros
						<a href="#" class="hover:text-gradient text-white underline">terminos de servicio</a>
						<!-- -->y<!-- -->
						<a href="#" class="hover:text-gradient text-white underline">Politicas de Privacidad</a>
					</p>
				</div>
			</div>
		</div>
	</Container>
</section>
<!-- class="bg-linear-to-r from-blue via-primary to-secondary bg-no-repeat bg-[url(/assets/images/toys-background.avif)] bg-center p-px" -->
<style>
	section {
		background-image: url(/assets/images/toys-background.avif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}

	section::before {
		content: '';
		position: absolute;
		inset: 0;
		background: hsla(0 0 0% /0.5);
		z-index: 1;
	}
</style>
