---
import Button, { buttonVariants } from '@/components/ui/Button.astro'
import { cn } from '@/lib/utils'
---

<section class="container mx-auto px-4 flex flex-col gap-8 md:gap-16">
  <article
    class="relative h-64 w-full rounded-md sm:h-80 sm:rounded-lg md:h-96 md:rounded-xl xl:rounded-3xl lg:h-[28rem] xl:h-[34rem] overflow-hidden shadow-neutral-950/50 sm:shadow-neutral-950/30 shadow lg:shadow-md"
  >
    <img
      src="/assets/images/tecnologia.avif"
      alt="woman smiling"
      class="h-full w-full object-cover -z-50 absolute inset-0"
      width="1920"
      height="1280"
      loading="lazy"
      decoding="async"
    />
    <div
      class="absolute inset-0 h-full w-full max-xl:bg-black/25 max-md:bg-black/30 max-sm:bg-black/30 xl:bg-gradient-to-r xl:from-primary xl:via-black/10 xl:to-black/0"
    >
      <div
        class="relative flex h-full w-full flex-col items-center justify-center gap-y-6 overflow-hidden xl:w-[34rem]"
      >
        <div
          class="size-[64rem] select-none absolute left-1/2 top-1/2 h-[28rem] w-[28rem] -translate-x-1/2 -translate-y-1/2 rotate-[-175deg] opacity-70 sm:h-[34rem] sm:w-[34rem] md:h-[42rem] md:w-[42rem] lg:h-[48rem] lg:w-[48rem] xl:h-[50rem] xl:w-[50rem]"
        >
          <img
            src="/assets/images/shape-tree.svg"
            alt=""
            class="h-full w-full object-contain"
          />
        </div>
        <p
          class="relative max-w-xs text-center font-extrabold text-2xl/snug text-white sm:max-w-sm sm:text-3xl/snug md:max-w-md md:text-4xl/snug lg:max-w-lg lg:text-5xl/snug"
        >
          Articulos de Tecnologia
        </p>
        <a
          href="/productos"
          data-astro-reload
          class={cn(buttonVariants(), 'z-10')}
        >
          Ver Productos
        </a>
      </div>
    </div>
  </article>

  <article
    class="relative h-64 w-full rounded-md sm:h-80 sm:rounded-lg md:h-96 md:rounded-xl xl:rounded-3xl lg:h-[28rem] xl:h-[34rem] overflow-hidden shadow-neutral-950/50 sm:shadow-neutral-950/30 shadow lg:shadow-md"
  >
    <img
      src="/assets/images/juguetes.avif"
      alt="woman smiling"
      class="h-full w-full object-cover -z-50 absolute inset-0"
      width="1920"
      height="1280"
      loading="lazy"
      decoding="async"
    />
    <div
      class="absolute inset-0 h-full w-full max-xl:bg-black/25 max-md:bg-black/30 max-sm:bg-black/30 xl:bg-gradient-to-r xl:from-primary xl:via-black/10 xl:to-black/0"
    >
      <div
        class="relative flex h-full w-full flex-col items-center justify-center gap-y-6 overflow-hidden xl:w-[34rem]"
      >
        <div
          class="size-[64rem] select-none absolute left-1/2 top-1/2 h-[28rem] w-[28rem] -translate-x-1/2 -translate-y-1/2 rotate-[-175deg] opacity-70 sm:h-[34rem] sm:w-[34rem] md:h-[42rem] md:w-[42rem] lg:h-[48rem] lg:w-[48rem] xl:h-[50rem] xl:w-[50rem]"
        >
          <img
            src="/assets/images/shape-tree.svg"
            alt=""
            class="h-full w-full object-contain"
          />
        </div>
        <p
          class="relative max-w-xs text-center font-extrabold text-2xl/snug text-white sm:max-w-sm sm:text-3xl/snug md:max-w-md md:text-4xl/snug lg:max-w-lg lg:text-5xl/snug"
        >
          Juguetes y Recreatividad
        </p>
        <a
          href="/productos"
          data-astro-reload
          class={cn(buttonVariants(), 'z-10')}
        >
          Ver Productos
        </a>
      </div>
    </div>
  </article>
</section>
