---
import Button from '@/components/ui/Button.astro'
import { Icon } from 'astro-icon/components'
---

<div class='max-lg:px-16 mt-8 max-md:px-12 xl:w-11/12 xl:justify-self-start'>
  <div
    class='relative flex flex-1 flex-col justify-between gap-y-6 overflow-hidden rounded-xl p-4 text-white drop-shadow-2xl sm:p-6 md:p-5 lg:p-8 xl:px-8 xl:py-10 gradient-accent'
  >
    <!-- Commennt -->
    <div class='relative flex gap-x-4 sm:gap-x-5 xl:gap-x-6'>
      <Icon name='tabler:quote' size={60} />
      <p
        class='text-xs/relaxed max-xl:font-medium sm:max-w-lg sm:text-sm/relaxed lg:max-w-xl xl:text-base/relaxed'
      >
        Hemos estado desde el principio con uds, y a medida que hemos ido
        crecido , nos esforzamos por mejorar nuestra atención al cliente.
      </p>
    </div>

    <!-- Author -->
    <div class='flex items-center justify-between'>
      <div class='relative flex items-center gap-2'>
        <!-- Avatar -->
        <span class='relative flex' style='width: 40px; height: 40px;'>
          <img
            class='h-full w-full object-cover border-2 border-white rounded-full'
            width='48'
            height='48'
            src='/assets/team/raquel-maldonado.webp'
          />
        </span>

        <!-- Cargo -->
        <div class='space-y-0.5 xl:space-y-0'>
          <p class='text-sm font-medium capitalize lg:text-base xl:text-lg'>
            Raquel Maldonado
          </p>
          <p class='text-xs font-medium xl:text-sm xl:font-normal'>
            Gerente de Ventas
          </p>
        </div>
      </div>

      <!-- Stars -->
      <div class='flex gap-x-2 sm:gap-x-3 md:gap-x-2 lg:gap-x-3'>
        <Icon name='tabler:star' class='size-6 text-primary' />
        <Icon name='tabler:star' class='size-6 text-primary' />
        <Icon name='tabler:star' class='size-6 text-primary' />
        <Icon name='tabler:star' class='size-6 text-primary' />
        <Icon name='tabler:star' class='size-6 text-primary' />
      </div>
    </div>
  </div>
</div>
