---
import ContactCard from '@/components/ContactCard.astro'
import Contactform from '@/components/ContactForm.astro'
---

<div class="relative grid lg:place-items-center gap-8 lg:gap-10 lg:grid-cols-2 my-20">
  <div class="flex flex-col gap-y-12 w-full">
    <div class="space-y-4 max-sm:text-center sm:space-y-2">
      <h2 class="text-3xl/normal font-bold sm:text-4xl text-white">
        <span class="capitalize">¿ Necesitas ayuda ?</span>
      </h2>
      <p class="text-sm font-medium first-letter:uppercase max-sm:text-center">
        Nuestro equipo esta listo para resolver tus dudas
      </p>
    </div>
    <!-- Form -->
    <Contactform />
  </div>
  <!-- Card -->
  <ContactCard />
</div>
