---
import { Icon } from 'astro-icon/components'
import { site } from '@/config'
const contactInfo = [
	{
		icon: 'phone',
		title: site.phone,
	},

	{
		icon: 'email',
		title: site.email,
	},
	{
		icon: 'gps',
		title: site.address,
	},
]
---

<div class="flex flex-col gap-4">
	{
		contactInfo.map((inf) => (
			<div class="border-shadow px-4 py-4 w-full flex items-center gap-4 bg-background">
				<Icon name={inf.icon} height={40} width={40} />
				<div class="flex flex-col gap-y-1 text-sm">
					<a href={`tel:+51${inf.title}`} class="hover:text-gradient">
						{inf.title}
					</a>
				</div>
			</div>
		))
	}
</div>
