---
import Button from '@/components/ui/Button.astro'
import { Icon } from 'astro-icon/components'
import ContactCard from '@/components/ContactCard.astro'
import Contactform from '@/components/ContactForm.astro'
---

<div class='relativ my-20 e w-full max-xl:gap-24 sm:my-28 sm:grid sm:place-items-center lg:my-32 xl:grid-cols-2'>
  <div class='flex flex-col gap-y-12 max-sm:px-6 sm:w-10/12 md:w-8/12 lg:w-7/12 xl:w-9/12'>
    <div class='space-y-4 max-sm:text-center sm:space-y-2'>
      <h2 class='text-3xl/normal font-bold sm:text-4xl text-white'>
        <span class='capitalize'>¿ Necesitas ayuda ?</span>
      </h2>
      <p class='text-sm font-medium text-neutral-100 first-letter:uppercase max-sm:text-center'>
        Nuestro equipo esta listo para resolver tus dudas
      </p>
    </div>
    <!-- Form -->
    <Contactform />
  </div>
  <!-- Card -->
  <ContactCard />
</div>
