---
import { Icon } from 'astro-icon/components'
---

<dialog
  id="dialog"
  class="border backdrop:bg-orange-500/50 bg-indigo-500 w-full h-full"
>
  <div>
    <slot />
  </div>
  <button
    type="button"
    class="close-dialog fixed right-8 top-8 rounded bg-black/60 p-4 transition hover:scale-110 hover:bg-accent hover:text-black"
    id="close-dialog"
  >
    <svg
      class="size-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
    </svg>
  </button>
</dialog>
<menu>
  <button id="open-dialog"> update</button>
</menu>

<script>
  const $openDialog = document.getElementById('open-dialog')!
  const $dialog = document.querySelector('dialog')!
  const $closeDialogButton = document.getElementById('close-dialog')!

  $openDialog.addEventListener('click', () => {
    $dialog?.showModal()
  })

  $closeDialogButton.addEventListener('click', () => {
    $dialog.close()
  })
</script>
