---
const currentYear = new Date().getFullYear()
import Container from './Container.astro'
import site from '@/constants/site'
---

<footer>
	<Container>
		<article class="grid grid-cols-1 gap-4 md:grid-cols-3 py-8">
			<div>
				<h3 class="text-base font-bold mb-2">Entrega</h3>
				<p>Delivery en Lima y envíos por agencia sugeridad a nivel nacional</p>
			</div>
			<div>
				<h3 class="text-base font-bold mb-2">Horario de Atencion</h3>
				<p>De Lunes a Sábado de 10:00AM - 07:00PM</p>
			</div>
			<div>
				<h3 class="text-base font-bold mb-2">Aceptamos</h3>
				<img src="/assets/images/pay-methods.webp" />
			</div>
		</article>
		<aricle class="">
			<div class="container flex flex-col items-center justify-center mb-8">
				<p class="text-center mt-4 text-sm">
					©{currentYear}&nbsp;{site.name}.
				</p>
				<p class="text-sm text-center">
					<br class="sm:hidden" /> Hecho con mucho <span class="text-red">❤️</span>
				</p>
			</div>
		</aricle>
	</Container>
</footer>
