---
const currentYear = new Date().getFullYear()
import site from '@/constants/site'
---

<footer class='container mx-auto px-4'>
  <div class='py-6 md:px-8 md:py-0'>
    <div class='container flex flex-col items-center justify-center mb-8'>
      <p class='text-center mt-4 text-sm'>
        ©{currentYear}&nbsp;{site.name}.
      </p>
      <p class='text-sm'>
        Todos los derechos reservados. Hecho con mucho <span class='text-red'>❤️</span>
      </p>
    </div>
  </div>
</footer>
