---
import Logo from '@/components/Logo.astro'
import Icon from '@/components/Icon.astro'
import site from '@/constants/site'
const socialLinks = Object.entries(site.socialLinks)
import { type Props as IconProps } from '@/components/Icon.astro'

const navigation = [
  {
    title: 'Productos',
    href: '/productos',
  },
  {
    title: 'Contacto',
    href: '/contacto',
  },
  {
    title: 'Nosotros',
    href: '/nosotros',
  },
]
---

<header>
  <div class="main-navigation">
    <div
      class="container mx-auto flex items-center justify-between px-4 h-16 border-b"
    >
      <a href="/">
        <Logo />
      </a>
      <menu
        id="mobile-menu"
        class="fixed left-0 top-[4rem] bg-background w-full h-[calc(100svh-4rem)] text-primary flex justify-center"
      >
        <div class="p-6">
          <ul class="flex flex-col gap-4">
            {
              navigation.map((item) => (
                <li>
                  <a href={item.href}>{item.title}</a>
                </li>
              ))
            }
          </ul>
          <div class="flex items-center mt-4">
            {
              socialLinks.map(([name, link]) => (
                <a href={link} rel="noopener noreferrer" target="_blank">
                  <Icon name={name as IconProps['name']} size="2rem" />
                </a>
              ))
            }
          </div>
        </div>
      </menu>
      <button id="burger-button" aria-label="menu mobile">
        <Icon class="text-primary" name="bars" size="2rem" />
      </button>
    </div>
  </div>
</header>
<script>
  const $menuBtn = document.getElementById('mobile-menu')!
  const $burgerBtn = document.getElementById('burger-button')!

  $burgerBtn.addEventListener('click', () => {
    $menuBtn.classList.toggle('hidden')
  })
</script>
