---
import Logo from '@/components/Logo.astro'
import Separator from '@/components/ui/Separator.astro'
import { Icon } from 'astro-icon/components'
import site from '@/constants/site'
const socialLinks = Object.entries(site.socialLinks)

const navigation = [
  {
    title: 'Productos',
    href: '/productos',
  },
  {
    title: 'Contacto',
    href: '/contacto',
  },
  {
    title: 'Nosotros',
    href: '/nosotros',
  },
]
---

<header>
  <div class="main-navigation">
    <div class="container mx-auto flex items-center justify-between px-4 h-16">
      <a href="/">
        <Logo />
      </a>
      <menu
        id="mobile-menu"
        data-open="false"
        class={`fixed left-0 top-[4rem] bg-background w-full h-[calc(100svh-4rem)] text-primary justify-center flex
data-[open=false]:invisible data-[open=false]:translate-x-[-100%]  data-[open=false]:opacity-0
data-[open=true]:visible data-[open=true]:opacity-100 data-[open=true]:translate-x-0
transition duration-300
`}
      >
        <div class="p-6">
          <ul class="flex flex-col gap-4">
            {
              navigation.map((item) => (
                <li>
                  <a href={item.href}>{item.title}</a>
                </li>
              ))
            }
          </ul>
          <div class="flex items-center mt-4">
            {
              socialLinks.map(([name, link]) => (
                <a href={link} rel="noopener noreferrer" target="_blank">
                  <Icon name={`tabler:brand-${name}`} size={30} />
                </a>
              ))
            }
          </div>
        </div>
      </menu>
      <button id="burger-button" aria-label="menu mobile">
        <Icon class="text-primary" name="tabler:menu" size={30} />
      </button>
    </div>
  </div>
  <Separator />
</header>

<script>
  const $menuBtn = document.getElementById('mobile-menu')!
  const $burgerBtn = document.getElementById('burger-button')!

  $burgerBtn.addEventListener('click', () => {
    const open = $menuBtn.getAttribute('data-open') === 'true'
    if (open) {
      $menuBtn.setAttribute('data-open', 'false')
    } else {
      $menuBtn.setAttribute('data-open', 'true')
    }
  })
</script>
