---
import { cn, formatedToLocal } from '@/lib/utils'

interface Props {
  price: number
  size?: 'md' | 'lg'
  id: string
}

const { price, size = 'md', id } = Astro.props
const formatedPrice = formatedToLocal(price || 0)
---

<div class={cn('inline-flex', size === 'lg' ? 'gap-4' : 'gap-2')}>
  {/* <span */}
  {/*   class={cn( */}
  {/*     'line-through  text-red-600', */}
  {/*     isBig ? 'text-5xl' : 'text-lg', */}
  {/*   )} */}
  {/* > */}
  {/*   -{discoucountPercent} % */}
  {/* </span> */}
  <span class=''>
    <span
      transition:name={`product-price-${id}`}
      class={cn('algin-top font-bold', size === 'lg' ? 'text-5xl' : 'text-xl')}>
      {formatedPrice}
    </span>
    {/* <span */}
    {/*   class={cn( */}
    {/*     'text-xs relative ', */}
    {/*     isBig ? 'text-lg -top-4' : 'text-xs -top-1', */}
    {/*   )} */}
    {/* > */}
    {/*   00 */}
    {/* </span> */}
  </span>
</div>
