---
import { Icon } from 'astro-icon/components'
import { cn } from '@/lib/utils'

const TOTAL_STARS = 5

interface Props {
	ranking: number
	size?: 'lg' | 'md'
	id?: string
}

const { size = 'md', ranking, id } = Astro.props
---

<div class="inline-flex gap-1 py-1" transition:name={`product-ranking-${id}`}>
	{
		Array.from({ length: TOTAL_STARS }, (_, index) => {
			return index < ranking ? (
				<Icon name="filled-star" class={cn(size === 'lg' ? 'w-6 h-6' : 'w-4 h-4')} />
			) : (
				<Icon name="star" class={cn(size === 'lg' ? 'w-6 h-6' : 'w-4 h-4')} />
			)
		})
	}
</div>
