---
import Container from '@/components/Container.astro'

export interface Props {
	categories: {
		title: string
	}[]
	url: URL
}

const { categories, url } = Astro.props
---

<div class="lg:hidden">
	<div class="overflow-x-auto py-4">
		<div style="scrollbar-width: none" class="flex items-center gap-2">
			{
				categories.map((category) => {
					const href = `/productos?category=${category.title}`
					const active = url.toString().endsWith(href)
					return (
						<a
							href={href}
							class:list={[
								'bg-background text-foreground flex-shrink-0 w-[max-content]  flex-nowrap border rounded-lg px-2 py-1',
								{ 'bg-foreground text-white': active },
							]}>
							{category.title}
						</a>
					)
				})
			}
		</div>
	</div>
</div>
