---
import Container from '@/components/Container.astro'
import Button from '@/components/ui/Button.astro'
import { type ProductTags } from '@/types'

export interface Props {
	categories: {
		title: string
		href: string
	}[]
	url: URL
}

const { categories, url } = Astro.props
---

<div class="lg:hidden">
	<div class="overflow-x-auto py-4">
		<div style="scrollbar-width: none" class="flex items-center gap-2">
			{
				categories.map(({ title, href }) => {
					const active = url.toString().endsWith(href)
					return (
						<Button
							href={href}
							data-active={active}
							class:list={[
								' flex-shrink-0 w-[max-content] flex-nowrap px-2 py-1',
								active && 'bg-emerald-200',
							]}>
							{title}
						</Button>
					)
				})
			}
		</div>
	</div>
</div>
