---
import { cn, formatedToLocal } from '@/lib/utils'

interface Props {
	price: number
	offert?: number
	size?: 'md' | 'lg'
	id: string
}

const { price, size = 'md', id, offert } = Astro.props
const formatedPrice = formatedToLocal(price)

const getRandomNumber = (min: number, max: number) => Math.floor(Math.random() * (max - min) + min)

const randomDiscount = getRandomNumber(10, 20)

const inflatedPrice = price + (price * randomDiscount) / 100
---

<div class={cn('inline-flex items-center', size === 'lg' ? 'gap-4' : 'gap-2')}>
	<span
		transition:name={`product-price-${id}`}
		class={cn('algin-top font-bold', size === 'lg' ? 'text-5xl' : 'text-xl')}>
		{offert ? formatedToLocal(offert) : formatedPrice}
	</span>
	{
		offert && (
			<span class={cn('line-through text-neutral-500', size == 'lg' ? 'text-2xl' : 'text-sm')}>
				{formatedToLocal(price)}
			</span>
		)
	}
</div>
