---
import Container from '@/components/Container.astro'
import Button from '@/components/ui/Button.astro'

export interface Props {
	categories: {
		title: string
	}[]
	url: URL
}

const { categories, url } = Astro.props
---

<div class="lg:hidden">
	<div class="overflow-x-auto py-4">
		<div style="scrollbar-width: none" class="flex items-center gap-2">
			{
				categories.map((category) => {
					const href = `/productos?category=${category.title}`
					const active = url.toString().endsWith(href) ? 'true' : 'false'
					return (
						<Button
							href={href}
							data-active={active}
							class:list={[' flex-shrink-0 w-[max-content] flex-nowrap px-2 py-1']}>
							{category.title}
						</Button>
					)
				})
			}
		</div>
	</div>
</div>
