---
import { Icon } from 'astro-icon/components'
import Button from '@/components/ui/Button.astro'

const shareUrl = new URL(Astro.url.pathname, Astro.site).toString()
---

<Button
  data-share-url={shareUrl}
  id="share-product-button"
  variant="outline"
  size="icon"
  class="size-9"
>
  <Icon name="tabler:share" class="size-5" />
</Button>

<script>
  const $shareBtn = document.querySelector('#share-product-button')!
  $shareBtn.addEventListener('click', async () => {
    const url = $shareBtn.getAttribute('data-share-url')!
    try {
      await navigator.share({
        title: 'Neystore',
        text: 'Nuestros productos',
        url,
      })
    } catch (error) {
      console.log('Error: Unsupported', error)
    }
  })
</script>
