---
import { Icon } from 'astro-icon/components'
import { getProducts } from '@/lib/data'
const products = await getProducts()
const results = products.slice(5)
---

<div class="sticky top-16 left-0 z-30">
	<header class="bg-background p-4 h-[70px]">
		<div class="flex items-center gap-2 rounded-md p-1 px-2">
			<Icon name="tabler:search" />
			<input
				class="bg-transparent w-full border-none outline-none"
				id="search-product"
				type="search"
				name="search-product"
				placeholder="Que esta buscando?"
			/>
		</div>
	</header>
	<div
		class="absolute left-1/2 -translate-x-1/2 top-[70px] z-50 flex justify-center bg-transparent rounded-lg overflow-hidden shadow-lg">
		<div class="min-w-[320px] bg-background w-full h-[600px] overflow-y-scroll">
			<ul class="flex flex-col gap-2">
				{
					results.map((prod) => {
						return (
							<li>
								<a
									href={`/productos/${prod.slug}`}
									class="flex gap-2 items-center h-20 hover:bg-neutral-100 p-2 md:p-6 cursor-pointer">
									<div class="min-w-[64px] size-16 bg-white">
										<img class="w-full h-full object-contain" src={prod.assets[0].thumbUrl} />
									</div>
									<div class="text-truncate">
										<span>{prod.title}</span>
									</div>
								</a>
							</li>
						)
					})
				}
			</ul>
		</div>
	</div>
</div>
