---
import { Icon } from 'astro-icon/components'
---

<section class="container mx-auto px-4">
  <div
    class="relative bg-gradient-to-b md:bg-gradient-to-r from-magenta to-primary rounded-md text-white flex flex-col items-center gap-y-20 sm:gap-y-24 md:gap-y-28 xl:flex-row xl:items-start xl:gap-x-36 xl:gap-y-0 max-sm:pb-[22rem] max-md:pb-[26rem] max-lg:pb-[27rem] max-xl:pb-[29rem] md:pt-8"
  >
    <div class="mt-14 sm:mt-16 md:mt-20 xl:mt-16 xl:pl-16">
      <div
        class="flex flex-col items-center gap-y-8 px-4 text-center sm:px-0 xl:items-start xl:text-start"
      >
        <p
          class="text-2xl font-extrabold sm:max-w-md sm:text-3xl sm:font-normal md:max-w-lg md:text-4xl/tight xl:max-w-md"
        >
          ¿Por qué confiar en Nosotros?
        </p>
        <p class="text-sm sm:max-w-sm sm:text-base md:max-w-lg">
          Contamos con una sólida reputación respaldada por años de experiencia,
          siempre buscando superar tus expectativas y enriquecer tu experiencia
          con nuestra marca.
        </p>
      </div>
      <div
        class="absolute bottom-0 left-1/2 h-[20rem] w-full -translate-x-1/2 sm:h-[19rem] md:h-[20rem] lg:h-[23rem] xl:left-auto xl:h-[24rem] xl:w-[32rem] xl:translate-x-0"
      >
        <img
          src="/assets/images/mockup.avif"
          alt="maqueta de la aplicación"
          class="object-contain h-full w-full"
          width="2657"
          height="2340"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:gap-12 xl:gap-8 xl:pb-16 xl:pr-10"
    >
      <div
        class="flex h-72 w-64 flex-col items-center gap-y-8 overflow-hidden rounded-lg border border-white border-opacity-80 px-3 py-10"
      >
        <div class="flex flex-col items-center gap-y-3">
          <Icon name="tabler:brand-whatsapp" size={30} />
          <p class="text-gradient font-medium uppercase md:text-lg">Atención</p>
        </div>
        <p class="text-center text-sm">
          Te ofrecemos atención personalizada las 24/7
        </p>
      </div>
      <div
        class="flex h-72 w-64 flex-col items-center gap-y-8 overflow-hidden rounded-lg border border-white border-opacity-80 px-3 py-10 sm:mt-14"
      >
        <div class="flex flex-col items-center gap-y-3">
          <Icon name="tabler:motorbike" size={30} />
          <p class="text-gradient font-medium uppercase md:text-lg">Delivery</p>
        </div>
        <p class="text-center text-sm">
          Enviamos tus compras a la puerta de tu casa.
        </p>
      </div>
      <div
        class="flex h-72 w-64 flex-col items-center gap-y-8 overflow-hidden rounded-lg border border-white border-opacity-80 px-3 py-10 sm:-mt-14"
      >
        <div class="flex flex-col items-center gap-y-3">
          <Icon name="tabler:clock" size={30} />
          <p class="text-gradient font-medium uppercase md:text-lg">
            Compra Online
          </p>
        </div>
        <p class="text-center text-sm">
          Ahorra tiempo y dinero comprando en línea.
        </p>
      </div>
      <div
        class="flex h-72 w-64 flex-col items-center gap-y-8 overflow-hidden rounded-lg border border-white border-opacity-80 px-3 py-10"
      >
        <div class="flex flex-col items-center gap-y-3">
          <Icon name="tabler:wallet" size={30} class="" />
          <p class="text-gradient font-medium uppercase md:text-lg">
            Pago Fácil
          </p>
        </div>
        <p class="text-center text-sm">
          Aceptamos pagos con Yape, Plin, transferencia, efectivo, etc.
        </p>
      </div>
    </div>
  </div>
</section>
