---
import { Icon } from 'astro-icon/components'
import Container from '@/components/Container.astro'
---

<section class="">
	<Container>
		<div>
			<div class="mb-10 flex flex-col items-center">
				<h2 class="text-3xl mb-4 font-bold text-center sm:text-3xl md:text-4xl">
					¿Por qué confiar en Nosotros?
				</h2>
				<p class="text-md text-center max-w-4xl">
					Contamos con una sólida reputación respaldada por años de experiencia, siempre buscando
					superar tus expectativas y enriquecer tu experiencia con nuestra marca.
				</p>
			</div>
			<!-- Container -->
			<div class="grid md:grid-cols-2 grid-flow-row-dense gap-4">
				<!-- Atencion -->
				<div class="our-card bg-[url(/assets/images/attention.webp)]">
					<div class="relative z-20">
						<div class="flex flex-col items-center gap-y-3">
							<Icon name="tabler:brand-whatsapp" size={36} />
							<p class="font-bold uppercase md:text-2xl">Atención</p>
						</div>
						<p class="text-center text-sm mt-2">Te ofrecemos atención personalizada las 24/7</p>
					</div>
				</div>
				<!-- Delivery -->
				<div class="our-card bg-[url(/assets/images/delivery.webp)]">
					<div class="relative z-20">
						<div class="flex flex-col items-center gap-y-3">
							<Icon name="tabler:motorbike" size={36} />
							<p class="text-gradient font-bold uppercase md:text-2xl">Delivery</p>
						</div>
						<p class="text-center text-sm mt-2">Enviamos tus compras a la puerta de tu casa.</p>
					</div>
				</div>

				<!-- Compra online -->
				<div class="our-card bg-[url(/assets/images/buy-online.webp)]">
					<div class="relative z-20">
						<div class="flex flex-col items-center gap-y-3">
							<Icon name="tabler:clock" size={36} />
							<h3 class="uppercase font-bold md:text-2xl">Compra Online</h3>
						</div>
						<p class="text-center text-sm mt-2">Ahorra tiempo y dinero comprando en línea.</p>
					</div>
				</div>
				<!-- Pago Facil -->
				<div class="our-card bg-[url(/assets/images/easy-pay.webp)]">
					<div class="relative z-20">
						<div class="flex flex-col items-center gap-y-4">
							<Icon name="tabler:wallet" size={36} class="" />
							<h3 class="font-xl uppercase md:text-2xl font-bold">Pago Fácil</h3>
						</div>
						<p class="text-center text-sm mt-2">
							Aceptamos pagos con Yape, Plin, transferencia, efectivo, etc.
						</p>
					</div>
				</div>
			</div>
		</div>
	</Container>
</section>
<style>
	.our-card {
		@apply rounded-lg px-4 py-16 md:py-24 overflow-hidden relative text-white bg-cover;
	}

	.our-card::after {
		content: ' ';
		position: absolute;
		inset: 0;
		z-index: 10;
		background: hsla(0 0 0% /0.7);
		mix-blend-mode: multiply;
	}
</style>
