---
import '@/styles/global.css'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import WhatsappPopup from '@/components/WhatsappPopup.astro'
import HeadSeo from '@/components/HeadSeo.astro'
import { site } from '@/config'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- Favicon -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="canonical" href={site.url} />
		<HeadSeo
			title={site.title}
			description={site.description}
			image={new URL(site.ogImage)}
			url={new URL(site.url)}
		/>
	</head>
	<body>
		<Header />
		<main class="page min-h-[100svh] flex flex-col gap-12">
			<slot />
			<WhatsappPopup />
		</main>
		<Footer />
	</body>
</html>
