---
import '@/styles/global.css'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import WhatsappPopup from '@/components/WhatsappPopup.astro'
import HeadSeo from '@/components/HeadSeo.astro'
import { site } from '@/config/site'
---

<!doctype html>
<html lang="es" data-is-home={true}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- Favicon -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="canonical" href={site.url} />
		<HeadSeo
			title={site.title}
			description={site.description}
			image={new URL(site.ogImage)}
			url={new URL(site.url)}
		/>
	</head>
	<body>
		<Header />

		<main class="page min-h-[100svh] flex flex-col gap-4 md:gap-8 lg:gap-20 relative">
			<slot />
			<WhatsappPopup />
		</main>
		<Footer />
		<!-- <a -->
		<!-- 	class="px-4 py-2 bg-primary" -->
		<!-- 	target="_blank" -->
		<!-- 	rel="noopener noreferrer" -->
		<!-- 	href="whatsapp://send?text=Me%20gust%C3%B3%20este%20producto%20Mario%20Kart%208%20Deluxe%20Nintendo%20Switch.%20%C2%A1Lo%20quiero! https://tellsenales.com.pe/seguridad/c/cintas-seguridad/"> -->
		<!-- 	wa directo -->
		<!-- </a> -->
		<!-- <a -->
		<!-- 	class="px-4 py-2 bg-primary" -->
		<!-- 	target="_blank" -->
		<!-- 	rel="noopener noreferrer" -->
		<!-- 	href="https://www.facebook.com/sharer.php?u=https://tellsenales.com.pe/seguridad/c/cintas-seguridad/"> -->
		<!-- 	facebook -->
		<!-- </a> -->
	</body>
</html>
