---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/utils'
interface Props extends HTMLAttributes<'div'> {
	width?: number
	height: number
}

const { width, height } = Astro.props
---

<div class:list={[`skeleton bg-gray-200  rounded-md`, Astro.props.class]}></div>
<style define:vars={{ skeletonWidth: width + 'px', skeletonHeight: height + 'px' }}>
	.skeleton {
		animation: pulse 2s ease infinite;
		width: var(--skeletonWidth, 100%);
		height: var(--skeletonHeight);
	}

	@keyframes pulse {
		50% {
			opacity: 0.5;
		}
	}
</style>
